div {
    border: 1px solid black;
}

.header {
    height: 10vh;
    border: 1px solid black;
    back
}

.nav {
    height: 5vh;
    border: 1px solid black;
    background-color: black;
}

.main {
    border: 1px solid red;
    background-color: red;
    display: flex;
    padding: 20px;
}

.main > div {
    border: 1px solid blue;
    height: 20vh;
    width: 50%;

}




.footer {
    border: 1px solid black;
    height: 10vh;
}


section {
    display: flex;
}

.section {
    padding: 10px;
    width: 50%;
    border: 1px solid green;
   
}

.section div {
    height: 10vh;
    border: 1px solid hotpink;
}

.aside {
    width: 50%;
    border: 1px solid greenyellow;

}

.figure {
    height: 20vh;
}

.img {
    height: 10vh;
    border: 1px solid hotpink;
}

.figcaption {
    height: 10vh;
    border: 1px solid hotpink;
}